body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Cor de fundo azul claro */
    color: #0277bd; /* Azul escuro para o texto */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    margin: 20px 0;
    color: #01579b; /* Azul mais escuro para o título */
    font-size: 2em;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 30px; /* Espaço abaixo da área dos formulários */
    background-color: #ffffff; /* Fundo branco para a área do formulário */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

.form-section {
    flex: 1; /* Faz com que cada seção ocupe igualmente o espaço disponível */
    margin-right: 10px; /* Espaço entre as seções */
}

.form-section:last-child {
    margin-right: 0; /* Remove o espaço da última seção à direita */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 12px;
    border: 1px solid #b0bec5; /* Borda azul claro */
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #0288d1; /* Borda azul */
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Inclui padding e border no width */
}

input[type="submit"] {
    background-color: #0288d1; /* Azul para o botão de submit */
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave na cor do fundo */
}

input[type="submit"]:hover {
    background-color: #01579b; /* Azul mais escuro ao passar o mouse */
}

.button-container {
    margin: 20px 0; /* Espaço acima e abaixo do botão de calcular */
    text-align: right;
}
